@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/WorkSans-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/WorkSans-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Purple */
  --purple-950: #301534;
  --purple-600: #8b6990;
  --purple-100: #f8eeff;

  /* Violet */
  --violet-600: #ad28eb;

  --font-sans: "Work Sans", sans-serif;

  /* Text Preset 1 – Heading */
  --text-preset-1: 700 56px/66px var(--font-sans);

  /* Text Preset 2 – Body Large */
  --text-preset-2: 600 18px/21px var(--font-sans);

  /* Text Preset 3 – Body */
  --text-preset-3: 400 16px/24px var(--font-sans);

  --text-preset-4: 700 32px var(--font-sans);

  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font: var(--text-preset-3);
  background-color: var(--purple-100);
  color: var(--purple-950);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  position: relative;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 320px;
  background-image: url("../assets/images/background-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.faq-section {
  position: relative;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 32px 40px;
  width: 100%;
  max-width: 600px;
  z-index: 1;
  height: auto;
}
.faq-title {
  font: var(--text-preset-1);
  color: var(--purple-950);
  margin-bottom: 24px;
  display: flex;
  gap: 13px;
  align-items: center;
  padding: 13px;
}
.faq-title img {
  width: 40px;
  height: 40px;
}
.faq-question {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  font: var(--text-preset-2);
  color: var(--purple-950);
  padding: 16px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq-question.active img {
  content: url("../assets/images/icon-minus.svg");
}
.faq-question:hover {
  color: var(--violet-600);
  cursor: pointer;
}
.faq-answer {
  font: var(--text-preset-3);
  color: var(--purple-600);
  padding: 0;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.faq-answer.active {
  padding: 24px 0;
  max-height: 500px;
  visibility: visible;
}
@media (max-width: 620px) {
  .faq-section {
    padding: 24px;
  }
  .background-img {
    height: 200px;
    background-image: url("../assets/images/background-pattern-mobile.svg");
  }
  .faq-title {
    font: var(--text-preset-4);
    margin-bottom: 24px;
  }
  .faq-question {
    font: var(--text-preset-3);
    font-weight: 600;
  }
  .faq-answer {
    font-size: 14px;
    line-height: 20px;
  }
}
